.homepage_content{
    width: 100%;
    margin-left: -100%;
    transition: margin 500ms;
    position: absolute;
    color: #EEA47FFF;
}

.homepage_content--active{
    margin: 0;
    transition: margin 500ms;
    transition-delay: 500ms;
}

.homepage_content h3{
    display: flex;
    justify-content: center;
}

.homepage_content-section-2 {
    background-color: #EEA47FFF;
    color: #00539CFF;
}

.homepage_content-section-1 img,
.homepage_content-section-2 img,
.homepage_content-section-3 img{
    width: 100%;
    height: auto;
}
.homepage_content article{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



@media only screen and (min-width: 750px){
    .homepage_content-section-1,
    .homepage_content-section-2{
        display: flex;

    }
    .homepage_content-section-1 img,
    .homepage_content-section-2 img{
        width: 50%;
        height: auto;
    }

    .homepage_content-section-2 img{
        order: 2;
    }

    .homepage_content-section-3 article{
        position: absolute;
        bottom: 0;
        background-color: rgba(64, 64, 64, 0.8);
        padding: 8rem 1rem
    }
}