html{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
}

p{
  margin: 0;
}

.App{
  background-color: #00539CFF;
  height: 100vh;
  font-family: sans-serif;
}

html, 
body {
    height: 100%;
    background-color: #00539CFF;
}

